@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

h1 {
    color: rgb(17, 15, 15);
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
}

h5 {
    color: rgb(53, 101, 202)
}

#rating {
    display: inline-flex;
    width: fit-content;
    height: 30px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* text-align: center;
    justify-content: center;
    align-items: center; */
    margin-bottom: 2px;
}

.likebox {
    background-color: rgb(57, 143, 57);
    width: 35px;
}

.ratebox {
    padding: 7px;
}

.fa-thumbs-up {
    color: whitesmoke;
    width: 10px;
}

.fa-star:hover {
    color: orange;
}

.checked {
    color: orange;
}

small {
    color: grey !important;
    font-size: small !important;
}

.card {
    display: inline-flex;
    border: 1px solid #ddd;
    border-radius: 6px;
    max-width: 70vw;
    text-align: center;
    margin-top: -100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card_img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin: -60px auto 0;
    margin-top: -80px;
}

.card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_info {
    padding-bottom: 20px;
}

a:hover {
    color: black;
}