<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!------------------------------------------------- navbar part ----------------------------------->
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand"><img src="https://d2k2fr4kgoo5so.cloudfront.net/vue/img/logo.ea876b95.svg" alt="" width="160"></a>
            <form class="d-flex">
                <img src="assets/1.jpg" style=" border-radius: 50%;" alt="" width="40">
                <p><b>Khaled Mohammed</b></p>
            </form>
        </div>
    </nav>
    <!------------------------------------------------- background part ----------------------------------->

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="margin-bottom: -100px; ">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://media.istockphoto.com/photos/shopping-online-concept-parcel-or-paper-cartons-with-a-shopping-cart-picture-id1249219777" class="d-block h-5 w-100" style="opacity: 0.5; height:400px;" alt="...">
                <div class="carousel-caption  d-md-block">
                    <h1><b>WHAT OUR USERS SAY ABOUT SHAHRY?</b></h1>
                    <!------------------------------------------ implementation of review ---------------------------------------------------->
                    <ng-template #reviewcontent let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">
                                ADD Review
                            </h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    
                                <span aria-hidden="true">
                                    ×
                                </span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="dateOfBirth">
                                        Your Review
                                    </label>
                                    <div class="input-group">
                                        <input type="text" id="review" class="form-control" placeholder="...">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">
                                Save
                            </button>
                        </div>
                    </ng-template>
                    <button type="button" class="btn btn-light" style="color:green; font-weight:bold; margin-bottom: 150px;" (click)="openreview(reviewcontent)">Add a Review</button>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------------------------- first card part ----------------------------------->

    <div class="card " style="padding-top: 40px;">
        <!-- Here I create a New Div with class name card -->
        <div class="card_img">
            <!-- Here I create a New Div for image with class name card_img -->
            <img src="assets/2.jpg" alt="user-image">
        </div>
        <div class="card_info" let user of users>
            <!-- Here I create a New Div for user info with class name card_info -->
            <h5>Yousef Mohamed</h5>
            <small>20 Dec 2020</small>
            <p style="font-size: x-large;">Best App ever!</p>

            <div>
                <div class="flex-container fit-content" id="rating">
                    <div class="likebox" style="display:inline-flex;" *ngIf="liked && reaction(4)">
                        <!-- <i class="{{likecontent}}"></i> -->
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="ratebox">
                        <span class="fa fa-star checked " value="1"></span>
                        <span class="fa fa-star checked" value="2"></span>
                        <span class="fa fa-star checked" value="3"></span>
                        <span class="fa fa-star checked" value="4"></span>
                        <span class="fa fa-star" value="5"></span>

                    </div>
                    <p style="display:inline-flex; padding:5px;">4/5</p>

                </div>
            </div>
            <br/>
            <p>shahry is the best product/company/service i have ever encountered in my entire life.its beyond words!always good support,very rigid security(make sure your device is paired always,and they have the most professional,friendly support teams
                by along shot!super happy to be onboard with such a progressive brand!</p>
            <p></p>
            <!--------------------------------------- implementation of comment ---------------------------------------------------->
            <ng-template #commentcontent let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">
                        ADD COMMENT
                    </h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            
                        <span aria-hidden="true">
                            ×
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="dateOfBirth">
                                Your Comment
                            </label>
                            <div class="input-group">
                                <input type="text" id="dateOfBirth" class="form-control" placeholder="...">


                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">
                        Save
                    </button>
                </div>
            </ng-template>
            <button type="button" class="btn btn-success" (click)="opencomment(commentcontent)">ADD COMMENT</button>


        </div>
    </div>
    <br/>
    <br/>
    <!------------------------------------------------- loop of other cards ----------------------------------->
    <div class="card " *ngFor="let user of users">
        <br/>
        <br/>
        <!-- Here I create a New Div with class name card -->
        <div class="card_img">
            <!-- Here I create a New Div for image with class name card_img -->
            <img [src]="user.photo" alt="user-image" />
        </div>
        <div class="card_info">
            <!-- Here I create a New Div for user info with class name card_info -->
            <h5>{{ user.name }}</h5>
            <small>{{ user.date }}</small>

            <p style="font-size: x-large;">{{ user.review }}</p>

            <div>
                <div class="flex-container fit-content" id="rating">
                    <div class="likebox" style="display:inline-flex;" *ngIf="liked && reaction(user.reviewnum)">

                        <i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="badbox" style="display:inline-flex;" *ngIf=" liked && !reaction(user.reviewnum)">
                        <i class="fa fa-thumbs-down "></i>
                    </div>
                    <div class="ratebox ">

                        <span class="fa fa-star checked" value="1 " *ngIf="user.reviewnum>=4"></span>
                        <span class="fa fa-star checked" value="1 " *ngIf="user.reviewnum>=4"></span>
                        <span class="fa fa-star checked" value="1 " *ngIf="user.reviewnum>=4"></span>
                        <span class="fa fa-star checked" value="1 " *ngIf="user.reviewnum>=4"></span>

                        <span class="fa fa-star checked " value="1 " *ngIf="user.reviewnum<4 "></span>
                        <span class="fa fa-star " value="2" *ngIf="user.reviewnum<4 "></span>
                        <span class="fa fa-star " value="3" *ngIf="user.reviewnum<4 "></span>
                        <span class="fa fa-star " value="4" *ngIf="user.reviewnum<4 "></span>

                        <span class="fa fa-star " value="1 "></span>

                    </div>
                    <p style="display:inline-flex; padding:5px; ">{{ user.reviewnum }}/5</p>
                </div>


            </div>
        </div>

        <p style="margin:20px; ">{{ user.commenttext }}</p>
        <div class="replybox " *ngIf="user.replytext ">
            <p>{{ user.replytext }}</p>
            <div class="replyimage ">
                <img src="assets/4.jpg " alt="user-image ">
            </div>

        </div>


        <button type="button " class="btn btn-success " (click)="opencomment(commentcontent) ">ADD COMMENT</button>

    </div>

</body>