@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

h1 {
    color: rgb(17, 15, 15);
    margin-bottom: 80px;
    font-family: url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
}

.card {
    display: inline-flex;
    border: 1px solid #ddd;
    border-radius: 6px;
    max-width: 70vw;
    text-align: center;
    margin-top: -100px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card_img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100%;
    margin: -60px auto 0;
}

.card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_info {
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: black;
}

.cardd {
    /* display: inline-flex;
    border: 1px solid #ddd;
    border-radius: 6px;
    max-width: 70vw;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    /* box-shadow: 2px 2px 2px 2px grey; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  */
}